<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" 
  content="width=device-width, initial-scale=1.0">
    <title>If Books Could Kill</title>
    
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
  crossorigin="anonymous">
  <style>
            body {
            padding-top: 70px; 
            text-align: center;
            font-family: Arial, sans-serif;
            background-color: rgb(0, 0, 0)
        }
            .login,
            .email,
            .password {
                color: red
            }
</style>
</head>
<body>
  <div class="container">
    <h2 class="login">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" class="email">Email:</label>
        <input class="form-control" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="password">Password:</label>
        <input class="form-control" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-danger" type="submit">Login</button>
      </div>
    </form>
    <button class="btn btn-danger" id="createAccountBtn">Create Account</button>
  </div>

<div class="modal fade" id="createAccountModal" tabindex="-1" aria-labelledby="createAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createAccountModalLabel">Create Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <form class="form sign-up-form">
          <div class="form-group">
            <label for="first-name-sign-up" class="first-name">First Name:</label>
            <input class="form-control" type="text" id="first-name-sign-up" />
          </div>
          <div class="form-group">
            <label for="last-name-sign-up" class="last-name">Last Name:</label>
            <input class="form-control" type="text" id="last-name-sign-up" />
          </div>
          <div class="form-group">
            <label for="email-sign-up" class="email">Email:</label>
            <input class="form-control" type="text" id="email-sign-up" />
          </div>
          <div class="form-group">
            <label for="password-sign-up" class="password">Password:</label>
            <input class="form-control" type="password" id="password-sign-up" />
          </div>
          <div class="form-group">
            <button class="btn btn-danger" type="submit">Create Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  </div>

<script src="./model/user.js"></script>
</body>
</html>

